.DS_Store
_build/
target/
target
.mooncakes/
.moonagent/
node_modules/
.vscode-test/
.test-extensions/
package-lock.json
test/extensions/window/out/
test/extensions/window/*.vsix
test/extensions/authentication/out/
test/extensions/authentication/*.vsix
test/extensions/comments/out/
test/extensions/comments/*.vsix
test/extensions/debug/out/
test/extensions/debug/*.vsix
test/extensions/l10n/out/
test/extensions/l10n/*.vsix
test/extensions/languages/out/
test/extensions/languages/*.vsix
test/extensions/notebooks/out/
test/extensions/notebooks/*.vsix
test/extensions/tests/out/
test/extensions/tests/*.vsix
test/extensions/env/out/
test/extensions/env/*.vsix
test/extensions/extensions/out/
test/extensions/extensions/*.vsix
test/extensions/scm/out/
test/extensions/scm/*.vsix
test/extensions/tasks/out/
test/extensions/tasks/*.vsix
test/extensions/commands/out/
test/extensions/commands/*.vsix
test/extensions/workspace/out/
test/extensions/workspace/*.vsix
test/extensions/chat/out/
test/extensions/chat/*.vsix
test/extensions/lm/out/
test/extensions/lm/*.vsix
test/extensions/authentication/fixture/*
!test/extensions/authentication/fixture/.gitkeep
test/extensions/comments/fixture/*
!test/extensions/comments/fixture/.gitkeep
test/extensions/debug/fixture/*
!test/extensions/debug/fixture/.gitkeep
test/extensions/l10n/fixture/*
!test/extensions/l10n/fixture/.gitkeep
test/extensions/languages/fixture/*
!test/extensions/languages/fixture/.gitkeep
test/extensions/notebooks/fixture/*
!test/extensions/notebooks/fixture/.gitkeep
test/extensions/tests/fixture/*
!test/extensions/tests/fixture/.gitkeep
test/extensions/env/fixture/*
!test/extensions/env/fixture/.gitkeep
test/extensions/extensions/fixture/*
!test/extensions/extensions/fixture/.gitkeep
test/extensions/scm/fixture/*
!test/extensions/scm/fixture/.gitkeep
test/extensions/tasks/fixture/*
!test/extensions/tasks/fixture/.gitkeep
test/extensions/workspace/fixture/*
!test/extensions/workspace/fixture/.gitkeep
test/extensions/chat/fixture/*
!test/extensions/chat/fixture/.gitkeep
test/extensions/lm/fixture/*
!test/extensions/lm/fixture/.gitkeep
